Repository astropy/astropy-project, pull requests merged in 2022-01, with the labels that each got.

#231 Add step to procedure for new finance committee member
  finance/finance-ctte-procedures.rst
Labels: finance :moneybag:, roles and staffing :briefcase:

#230 Deprecate finance wiki
  finance/README.md
  finance/finance-ctte-intro.txt
  finance/funding_requests.md
  finance/process/policies.rst
  finance/process/procedures.rst
  finance/process/request-funding.md
  finance/proposal-calls/internal_template.md
Labels: finance :moneybag:

#233 Add step "add to mailing list" to policy for new roles
  policies/adding-new-role-members.md
Labels: roles and staffing :briefcase:
