Repository astropy/astropy-project, pull requests merged in 2022-10, with the labels that each got.

#286 Phase 3 Funding | Workshop Coordinator
  finance/proposal-calls/cycle3/workshop-coordinator.md
Labels: finance :moneybag:, cycle3

#281 Phase 3 Funding: Specreduce development
  finance/proposal-calls/cycle3/specreduce-FR.md
Labels: finance :moneybag:, cycle3

#276 Phase 3 funding: Addressing long-standing bugs and feature requests by monetary bounty
  finance/proposal-calls/cycle3/bounties.md
Labels: finance :moneybag:, cycle3

#268 Phase 3 Funding: Astropy Maintainer Mentoring Program Proposal (Aperio Software)
  finance/proposal-calls/cycle3/Aperio-Mentoring.md
Labels: finance :moneybag:, cycle3, funding-approved 💵

#272 Phase 3 funding | Aperio | GUI-editable regions
  finance/proposal-calls/cycle3/editable-regions.md
Labels: finance :moneybag:, cycle3, funding-approved 💵

#282 Phase 3 Funding: Patil, White, Strubbe | PASEA
  finance/proposal-calls/cycle3/pasea.md
Labels: finance :moneybag:, cycle3, funding-approved 💵

#280 Phase 3 Funding: Open call | Add fits maintainer FR
  finance/proposal-calls/cycle3/fits-io-FR.md
Labels: finance :moneybag:, cycle3, funding-approved 💵

#284 Phase 3 Funding: Fill vacant community engagement coordinator/community manager role
  finance/proposal-calls/cycle3/community-manager.md
Labels: finance :moneybag:, cycle3, funding-approved 💵

#279 Phase 3 Funding: Craig | Widget-based app for optical data reduction and stellar photometry
  finance/proposal-calls/cycle3/optical-reduction-photometry-entry-level-gui-app.md
Labels: finance :moneybag:, cycle3, funding-approved 💵

#274 Phase 3 Funding | Brasseur | Astroquery
  finance/proposal-calls/cycle3/brasseur_astroquery.md
Labels: finance :moneybag:, cycle 3️⃣, funding-approved 💵

#270 Phase 3 Funding | Starkman | Cosmology
  finance/proposal-calls/cycle3/Starkman-Cosmology.md
Labels: finance :moneybag:, cycle 3️⃣, funding-approved 💵

#266 Phase 3 Funding: Packaging and maintainance of Astropy for Debian and Ubuntu
  finance/proposal-calls/cycle3/Streicher-Debian_&_Ubuntu.md
Labels: finance :moneybag:, cycle 3️⃣, funding-approved 💵

#271 Phase 3 funding | Ginsburg | Maintenance on astroquery, etc.
  finance/proposal-calls/cycle3/ginsburg.md
Labels: finance :moneybag:, cycle 3️⃣, funding-approved 💵

#275 Phase 3 Funding: Improving Compressed Image performance and Dask integration in `io.fits`.
  finance/proposal-calls/cycle3/aperio_fits_dask.md
Labels: finance :moneybag:, cycle 3️⃣, funding-approved 💵

#265 Phase 3 Funding: Learn Astropy Full Stack Development (Jonathan Sick)
  finance/proposal-calls/cycle3/Sick-Learn-Astropy.md
Labels: finance :moneybag:, cycle 3️⃣, funding-approved 💵
